img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}
.imgfull {
    width: 70%;
}

.imgmed {
    width: 300px;
}

s30 {
    font-size: 30px;
    font-style: normal;
    display: block;
}

s25 {
    font-size: 25px;
    display: block;
}

s22 {
    font-size: 22px;
}

s20 {
    font-size: 20px;
    display: block;
}

s15 {
    font-size: 15px;
    display: block;
}

s10 {
    font-size: 10px;
    display: block;
}

hl {
    color: cornflowerblue;
}

.setwidth50p {
    width: 50%;
}

.clear {
    clear: left;
}

.boardless {
    text-align: center;
    margin: 0 auto;
    border: none;
}
.setcenter {
    text-align: center;
}

topic_album {
    font-size: 35px;
    border: 1px black;
}

s22 {
    font-size: 20px;
}

details {
    font-size: 20px;
}

.spacebwitem {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn.btn-primary.btn-lg.setmargin {
    margin-top: 20px;
}
.redthis {
    color: #FA5882;
}

.setmargin20px {
    margin-top: 20px;
}

.notsaleinthismoment {
    text-align: center;
    padding: 15px;
    background: black;
    color: white;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.setspace {
    margin-bottom: 40px;
}

s20wsp {
    font-size: 20px;
    display: block;
    margin-top: 5px;
}
